* {
  padding: 0;
  margin: 0;
}

html,
body {
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   min-height:100%;
}

/* 4 grote container divs header/navbar/main footer */
.header {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.footer {
  bottom:0;
  width:100%;
  min-height: 50px;
  box-sizing: border-box;
}

/* inside header elements */

div.container2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.toggle-btn {
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.toggle-btn > .inner-circle {
  width: 40px;
  height: 40px;
  background-image: url("../imgs/sun.png");
  background-size: cover;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.toggle-btn.active {
  background: #15f4ee;
  box-shadow: 0 0 10px #15f4ee;
}

.toggle-btn.active > .inner-circle {
  margin-left: 40px;
  background-image: url("../imgs/moon2.jpg");
}

div.amsterdam {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

div.daynight {
  text-align: center;
  margin-right: 20px;
  margin-left: auto;
  width: 200px;
  margin-top: 5px;
}

.title {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 50px;
}

/* inside navbar elements */

ul {
  list-style-type: none;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  height: 100%;
}

li {
  flex: 1;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-weight: 900;
}

li.logo {
  display: none;
  justify-content: flex-start;
}

li.house {
  height: 100%;
  display: inline-flex;
  flex: none;
  justify-content: center;
}

#house {
  background-image: url("../imgs/house.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 80px;
  position: relative;
}

#home {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

li.info {
  position: relative;
}

ul.information {
  position: absolute;
  left: 0;
  top: 22px;
  display: block;
  width: 100%;
  height: auto;
  background: black;
  color: white;
  transition: 0.5s;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
}

.info:hover ul {
  opacity: 1;
  visibility: visible;
}

body.night .navbar li:hover {
  background: black;
  color: white;
}

body.night .info li:hover {
  background: #15f4ee;
}

/* inside main elements */

p.navbar  {
  font-size: 20px;
}

p{
  font-size: 16px;
  padding: 0 30px;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

div.photocontainer {
  width: 33.3%;
  height: 200px;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 0;
}

div.photo2 {
  background-image: url("../imgs/blacklight_makeup.jpg");
}

div.photo1 {
  background-image: url("../imgs/blacklight.jpg");
}

div.photo3 {
  background-image: url("../imgs/heart.jpg");
}

/* inside footer*/


/* Styling sticky header */

.fixednav .navbar {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  top: 0px;
}

.fixednav li.logo {
  transition: all 20s ease-in-out;
  display: inline-flex;
  flex: none;
  padding-right: 15px;
}

.fixednav div.daynight {
  text-align: left;
}

.fixednav div#navbar {
  position: fixed;
  top: 0px;
}

#btn-nav {
  padding-right: 5px;
}

/* Styling for day */

body.day {
  background-color: rgb(251, 242, 241);
}

.day .header {
  background-image: url("../imgs/skyline_white_red_small.png");
}

.day .title {
  color: #c84537;
}

.day .navbar, .day .footer {
  background-color: #c84537;
}

.day .main {
  background-color: #ffb3b3;
}

/* Styling for night */

body.night {
  background: url("../imgs/night_background3.jpg") no-repeat center center fixed;
  background-size: cover;
}

.night .header {
  background-image: url("../imgs/skyline_black_blue_small.png");
  background-color: rgb(4,13, 14);
}

.night .title {
  color: #15f4ee;
  background-color: rgb(4,13, 14);
}

.night .navbar {
  background-color: #15f4ee;
  box-shadow: 0 0 5px 5px #15f4ee;
  position: relative;
  z-index: 1;
}

.night .footer {
  background-color: rgb(4,13, 14);
  box-shadow: 0 0 5px 5px rgb(4,13, 14);
}

.night .main {
  background-color: rgb(4,13, 14);
  color: #15f4ee;
  box-shadow: 0 6px 5px 5px rgb(4,13, 14);
}

.night #toggle-btn2 {
  box-shadow: 0 0 5px black;
  background-color: rgb(4,13, 14);
}

.night #innercircle2 {
    background-image: url("../imgs/moon_blue.jpg");
}

.night .amsterdam {
  color: #15f4ee;
  text-shadow: 0 0 5px #15f4ee;
}

body.day > body .loadedPage {
  background-color: rgb(4,13, 14);
  height: 100%;
  color:  #15f4ee;
}

body.night > body .loadedPage {
  background-color: #ffb3b3;
  height: 100%;
  color:  black;
}

/* neon-roze hex:  ff1493;*/
