* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100%;
}

/* 4 grote container divs header/navbar/main footer */
.header {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  display: table;
}

/* inside header elements */

div.container2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.toggle-btn {
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.toggle-btn > .inner-circle {
  width: 40px;
  height: 40px;
  background-image: url("../imgs/sun.png");
  background-size: cover;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.toggle-btn.active {
  background: #15f4ee;
  box-shadow: 0 0 10px #15f4ee;
}

.toggle-btn.active > .inner-circle {
  margin-left: 40px;
  background-image: url("../imgs/moon2.jpg");
}

div.amsterdam {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

div.daynight {
  text-align: center;
  margin-right: 20px;
  margin-left: auto;
  width: 200px;
  margin-top: 5px;
}

.title {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 50px;
}

/* inside navbar elements */

.house > div,
.registration > div,
.volunteer > div,
.info  > div,
.merchandise > div {
  display: flex;
align-items: center;
justify-content: center;

}
/* .dropbtn {
  display: table;
} */

a.dropbtn {
  height: 100%;
}

#home,
#information,
#registration,
#volunteer,
#merchandise,
#info {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

li.house,
li.info,
li.registration,
li.volunteer,
li.merchandise,
div.dropdown {
  height: 100%;
  min-height: 50px;
}

a.house,
a.info,
a.registration,
a.volunteer,
a.merchandise {
  height: 100%;
}

.dropdown-content a:visited {
  color: white;
}

a:visited {
  color: black;
}

ul.navlist {
  list-style-type: none;
  display: flex;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navlist {
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
}

li {
  flex: 1;
  text-transform: uppercase;
  font-weight: 900;
  min-height: 50px;
}

#packing li {
  text-transform: none;
  text-decoration: none;
  font-weight: 10;
  min-height: 0px;
  margin-left: 45px;
}

#MenuList {
  text-transform: none;
  font-weight: 10;
  min-height: 0px;
}

#MenuListUL {
list-style-type: none;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
}

li.logo {
  display: none;
  justify-content: flex-start;
  padding-left: 30px;
}

.dropdown-content {
  background: rgb(4, 13, 14);
  color: white;
  transition: 0.5s;
  z-index: 12;
  display: none;
  position: absolute;
  width: inherit;
}

.night .dropdown-content {
  box-shadow: 0 0 7px 7px rgb(4, 13, 14);
}

.dropdown-content a {
  display: block;
  padding: 5px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

p.navbar {
  font-size: 20px;
}

/* inside main elements */

p {
  font-size: 16px;
  padding: 0 30px;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

h2 {
  padding: 20px 30px;
}

div.photocontainer {
  width: 33.3%;
  height: 200px;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 0;
}

div.photo2 {
  background-image: url("../imgs/blacklight_makeup.jpg");
}

div.photo1 {
  background-image: url("../imgs/blacklight.jpg");
}

div.photo3 {
  background-image: url("../imgs/heart.jpg");
}

.location {
  padding: 20px 30px;
  filter: grayscale(100%);
}

.dashboard-btn {
  padding: 20px 30px;
}

.dashboard-btn a {
  text-decoration: none;
  font-weight: bold;
}

.night .dashboard-btn a {
  background-color: #0310ea;
  box-shadow: 0 0 5px 5px #0310ea;
  padding: 20px;
}

.day .dashboard-btn a {
  background-color: #c84537;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: solid black;
  padding: 5px;
}

th {
  background-color: black;
  color: white;
}

.night td {
  text-shadow: 0 0 4px #15f4ee;
}

.night th {
  text-shadow: 0 0 3px white;
}

.day tr:hover {
  background-color: #f5f5f5;
}

.night tr:hover {
  background-color: #75787b;
}

/* inside footer*/

#location, #mail, #facebook {
  margin-top: 1vh;
  margin-right: 20px;
  float: right;
}

div.footer-elmnts {
  height: 80%;
}

.footer-elmnts a {
  text-decoration: none;
  color: inherit;
}

.night svg#location path {
  fill: #15f4ee !important;
}

.night svg#mail path {
  fill: #15f4ee !important;
}

.night svg#facebook path {
  fill: #15f4ee !important;
}

.night svg {
  box-shadow: 0 0 20px 0px #15f4ee;
  box-sizing: content-box;
  border-radius: 50%;
}

p.footer-txt {
  float: right;
  padding: 0;
  padding-right: 15px;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 12px;
}

.night p.footer-txt {
  color: #15f4ee;
}

/* Styling sticky header */

.fixednav .navbar {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  top: 0px;
}

.fixednav li.logo {
  transition: all 20s ease-in-out;
  display: table;
  flex: none;
  padding-right: 15px;
  height: 100%;
}

.fixednav div.daynight {
  text-align: left;
}

.fixednav div#navbar {
  position: fixed;
  top: 0px;
}

#btn-nav {
  padding-right: 5px;
}



/* Styling for day */

body.day {
  background-color: rgb(251, 242, 241);
}

.day .header {
  background-image: url("../imgs/skyline_white_red_small.png");
}

.day .title {
  color: #c84537;
}

.day .navbar,
.day .footer {
  background-color: #c84537;
}

.day .main {
  background-color: #ffb3b3;
}

.day .dropdown-content a:hover {
  background-color: #c84537;
}

/* Styling for night */

.night .dropdown-content a:hover {
  background-color: #0310ea;
}

body.night {
  background: url("../imgs/night_background3.jpg") no-repeat center center fixed;
  background-size: cover;
}

.night .header {
  background-image: url("../imgs/skyline_black_blue_small.png");
  background-color: rgb(4, 13, 14);
}

.night .title {
  color: #15f4ee;
  text-shadow: 0 0 30px #15f4ee;
  background-color: rgb(4, 13, 14);
}

.night h1 {
  color: #15f4ee;
  text-shadow: 0 0 4px #15f4ee;
}

.night h2 {
  text-shadow: 0 0 4px #15f4ee;
}

.night p {
  text-shadow: 0 0 4px #15f4ee;
}

.night .navbar {
  background-color: #15f4ee;
  box-shadow: 0 0 5px 5px #15f4ee;
  z-index: 5;
}

.night .footer {
  background-color: rgb(4, 13, 14);
  box-shadow: 0 0 5px 5px rgb(4, 13, 14);
}

.night .main {
  background-color: rgb(4, 13, 14);
  color: #15f4ee;
  box-shadow: inset 0 10px 5px -5px #15f4ee, 10px 0 5px -5px rgb(4, 13, 14),
    -10px 0 5px -5px rgb(4, 13, 14);
}

.night #toggle-btn2 {
  box-shadow: 0 0 5px black;
  background-color: rgb(4, 13, 14);
}

.night #innercircle2 {
  background-image: url("../imgs/moon_blue.jpg");
}

.night .amsterdam {
  color: #15f4ee;
  text-shadow: 0 0 5px #15f4ee;
}

/* navbar hover */

.navbar li:hover {
  background: rgb(4, 13, 14);
  color: white;
}

.night .navbar li:hover {
  box-shadow: 0 0 7px 7px rgb(4, 13, 14);
}

.navbar li:hover a {
  color: white;
}

.navbar a {
  color: black;
}

.current a {
  color: white;
}

/* active page */
.current {
  background-color: rgb(4, 13, 14);
  color: white;
}

.night .current {
  box-shadow: 0 0 7px 7px rgb(4, 13, 14);
}

/* neon-roze hex:  ff1493;
neon donker blauw: rgb(7, 33, 180);
neon groen: #00ff80;
*/
